
<%= form_for([@code, p]) do |f| %>
  <% if p.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(p.errors.count, "error") %> prohibited this code from being saved:</h2>

      <ul>
      <% p.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.text_field :title, class: "form-control", placeholder: "一个好的标题，会迅速吸引顾客的注意力" %>
  </div>

  <div class="form-group">
    <%= f.text_area :description, rows: 6, class: "form-control", placeholder: "一个好的扫码描述，会让顾客很快知道扫码后该做什么，以及他们会获得什么回报" %>
  </div>

  <div class="submit-actions">
    <%= link_to "/", class: "btn btn-orange" do %>
      <%= fa_icon "print", text: "打印" %>
    <% end %>

    <%= button_tag(type: 'submit', class: "btn btn-secondary") do %>
      <%= fa_icon "save", text: "保存到账号" %>
    <% end %>

    <%= link_to "/", class: "btn btn-secondary" do %>
      <%= fa_icon "image", text: "保存为图片" %>
    <% end %>
  </div>
<% end %>
