<h1><%= @print.title %></h1>

<%= render 'codes/qr_html', code: @code %>

<h2><%= @print.description %></h1>

<%= link_to "Edit", edit_code_print_path(@code, @print) %>
<%= link_to 'Back', code_prints_path(@code) %>
