<div class="col-md-3">
  <h1>更新账号信息</h1>
</div>

<div class="col-md-7">


  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }) do |f| %>
    <%= devise_error_messages! %>

    <%= f.input :email %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>
        <%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email) %>
      </p>
    <% end %>

    <%= f.input :avatar %>
    <%= f.input :name %>
    <%= f.input :domain %>


    <div class="field">
      <%= f.label :password %> <i>(<%= t('.leave_blank_if_you_don_t_want_to_change_it') %>)</i><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %>
    </div>

    <div class="field">
      <%= f.label :current_password %> <i>(<%= t('.we_need_your_current_password_to_confirm_your_changes') %>)</i><br />
      <%= f.password_field :current_password %>
    </div>

    <%= render "devise/shared/captcha" %>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>

  <%= t('.cancel_my_account') %>

  <p><%= t('.unhappy') %>? <%= link_to t('.cancel_my_account'), registration_path(resource_name), data: { confirm: t('.are_you_sure') }, method: :delete %>.</p>

  <%= link_to t('devise.shared.links.back'), :back %>

</div>
