<% user ||= comment.user %>
<li id="comment-<%= comment.id %>" name="comment-<%= comment.id %>">
  <%= avatar_tag user, :tiny %>
  <%= link_to user.name, user %>:
  <%= comment.content_html %>
  <%= link_to ">删除", comment, class: "delete auth hidden", remote: true, method: "delete",
      data:{ confirm: t("confirm.delete"), "user-id" => "#{user.id}" } %>
</li>
