<% statusable = status.statusable %>
<% user = status.user %>
<% comments = status.comments %>

<% if statusable.present? %>
  <div class="status-item" id="status-<%= status.id %>" name="status-<%= status.id %>">
    <div class="pull-left">
      <%= avatar_tag user, :normal %>
    </div>

    <div class="status-main">
      <div class="status-item-head">
        <%= link_to user.name, user %>

        <span class="status-project-name">
          在 <%= link_to status.status_project.try(:name), project_path(status.status_project) %>
        </span>

        <span>
          <%= "#{status.action_name}了 " %>
          <%= link_to status.name, status, "data-turbolinks" => "false" %>
        </span>
      </div>

      <div class="status-item-body">
        <div class="content">
          <%= render "statuses/content", statusable: statusable %>
        </div>

        <div class="actions">
          <span class="created_at">
            <%= timeago_tag status.created_at %>
          </span>

          <%# 这里是和 status 发生关系，这样便于从 notification 那里跳到这个status %>
          <%= relation_for status, action_type: :like, submit_name: "喜欢",
                                       show_count: true, class: "link",
                                       button_class: "btn btn-link btn-sm",
                                       destroy_button_html: fa_icon("heart"),
                                       create_button_html: fa_icon("heart-o") %>

          <%= link_to "回应", new_status_comment_path(status), remote: true %>
          <%= link_to "删除", status, method: :delete, class: "auth hidden",
              data: {confirm: t("confirm.delete"), "user-id" => "#{user.id}"  } %>

          <div class="comments">
            <%= render "comments/comments", comments: comments %>
            <div id="comment-form"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
