<% statusable = status.statusable %>
<% user = status.user %>
<% comments = status.comments %>

<%# cache [status, statusable, user, cache_key_for_comments(comments), :relation_v1] do %>

  <% if statusable.present? %>
    <div class="status-item" id="status-<%= status.id %>" name="status-<%= status.id %>">
      <div class="pull-left">
        <%= avatar_tag user, :normal %>
      </div>

      <div class="status-main">
        <div class="status-item-head">

          <% cache user do %>
            <%= link_to user.name, user %>
          <% end %>


          <span class="status-project-name">
            在 <%= link_to status.statusable_project.try(:name), project_path(status.statusable_project) %>
          </span>

          <span>
            <%= "#{status.action_name}了 " %>
            <%= link_to status.name, status, "data-turbolinks" => "false" %>
          </span>
        </div>

        <div class="status-item-body">
          <% cache statusable do %>
            <div class="content">
              <%= render "statuses/content", statusable: statusable %>
            </div>
          <% end %>

          <div class="actions">
            <span class="created_at">
              <%= timeago_tag status.created_at %>
            </span>

            <%# 这里是和 status 发生关系，这样便于从 notification 那里跳到这个status %>
            <%= render "relations/like_status", relationable: status %>

            <%= link_to "回应", new_status_comment_path(status), remote: true, class: "new-comment", "data-type" => status.statusable.class.to_s.downcase %>
            <%= link_to "删除", status, method: :delete, class: "auth hidden",
                data: {confirm: t("confirm.delete"), "user-id" => "#{user.id}"  } %>

            <div class="comments">
              <%= render "comments/comments", comments: comments %>
              <div id="comment-form"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<%# end %>
