<% statusable = status.statusable %>
<% user_profile = status.user.profile %>
<% is_show_project_name ||= false %>

<% if statusable.present? %>
  <div class="status-item" id="status-<%= status.id %>">
    <div class="avatar">
      <%= link_to image_tag(user_profile.avatar.normal.url.to_s), user_path(user_profile) %>
    </div>

    <div class="status-main">
      <div class="status-item-head">
        <%= link_to user_profile.name, user_path(user_profile) %>
        <% if is_show_project_name && status.project %>
          在 <%= link_to status.project.try(:name), project_path(status.project) %>
        <% end %>
        <%= "#{status.action_name}了 " %>
        <%= status.statusable_name %>
      </div>

      <div class="status-item-body">
        <div class="content">
          <% if statusable.respond_to?(:publishable_type) %>
            <%= render "publications/show/#{statusable.publishable_type.underscore}", publication: statusable %>
          <% else %>
            <%# TODO: relation 的 view %>
            <%= statusable.try(:name) %>
          <% end %>
        </div>

        <div class="actions">
          <span class="created_at">
            <%= timeago_tag status.created_at %>
          </span>
          <%= relation_for statusable, action_type: :like, submit_name: "喜欢", show_count: true, class: "link", button_class: "btn btn-link btn-sm" %>
          <%= link_to "回应", new_status_comment_path(status), remote: true %>
          <% if policy(status).destroy? %>
            <%= link_to "删除", status, method: :delete, data: {confirm: t("confirm.delete") } %>
          <% end %>

          <div class="comments">
            <%= render "comments/comments", comments: status.comments %>
            <div id="comment-form"></div>
          </div>
        </div>

      </div>
    </div>
  </div>
<% end %>
