<div id="notification-<%= notification.id %>"
     data-id="<%= notification.id %>"
     class="media notification notification-<%= notification.notify_type %>
       <%= ' unread' if !notification.read? %>">
  <div class="media-left">
    <%= link_to image_tag(notification.actor_avatar_url.to_s, class: "avatar small"), notification.actor, title: notification.actor_name %>
  </div>

  <div class="media-body">
    <%= link_to notification.status, "data-turbolinks" => "false" do %>
      <div class="media-heading">
        <%= notification.title %>
      </div>
      <div class="media-content">
        <%= render "notifications/#{notification.notify_type}", notification: notification %>
      </div>
    <% end %>
  </div>

  <div class="media-right">
    <%= l notification.created_at, format: :short %>
  </div>
</div>
