<div class="user-homepage">
  <%= render partial: "statuses/status", collection: @statuses, locals: { is_show_project_name: true } %>
</div>

<%= will_paginate @statuses %>

<% content_for "secondary-content" do %>
  <div class="user-homepage">

    <div class="section">
      <div class="border-none card text-xs-center ">
        <div class="card-block">
          <h1 class="card-title"><%= @user.name %></h1>
          <h6 class="card-subtitle text-muted"><%= @user.profile.description %></h6>
        </div>
        <%= image_tag @user.avatar.url, class: "avatar big card-image-top"%>
        <div class="card-block">
          <%= relation_for @user, action_type: :follow, submit_name: "关注", button_class: "btn btn-success btn-sm" %>
        </div>
      </div>
    </div>

    <div class="section">
      <h2>我的 DIY</h2>
      <%= render "projects/projects_list_small", projects: @user.projects %>
    </div>

    <div class="section">
      <h2>我关注的 DIY</h2>
      <%= render "projects/projects_list_small", projects: @user.related_projects("follow") %>
    </div>

    <div class="section">
      <h2>我关注的用户</h2>
      <%= render "users/users_list_tiny", users: @user.related_users("follow") %>
    </div>
  </div>
<% end %>
