<div class="col-md-4 .col-sm-10">
  <h1><%= t(".forgot_your_password") %></h1>

  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "shared/error_messages", target: resource %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>
      <%= render "shared/captcha" %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, t(".send_me_reset_password_instructions") %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
