<h1>修改个人信息</h1>

<%= simple_form_for @user_profile, url: user_profile_path(@user), html: { multipart: true }, validate: true do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :domain %>
    <%= image_tag(@user_profile.avatar.normal.url.to_s,
      class: "avatar naomal") if @user_profile.avatar.present? %>
    <%= f.input :avatar %>
    <%= f.input :homepage %>
    <%= f.input :location %>

    <%= f.input :gender, collection: UserProfile::GENDER_TYPE_NAMES,
                         value_method: :first,
                         label_method: :last,
                         include_blank: false %>

    <%= f.input :birthday %>
    <%= f.input :description %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<%= link_to '返回', @user %>
