<h1>修改个人信息</h1>

<%= simple_form_for @user_profile, url: user_profile_path(@user), html: { multipart: true }, validate: true do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :domain %>
    <%= f.input :avatar %>
    <%= f.input :homepage %>
    <%= f.input :location %>
    <%= f.input :gender %>
    <%= f.input :birthday %>
    <%= f.input :description %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<%= link_to 'Show', @user %>
