<p>
  <strong>Homepage:</strong>
  <%= @user_profile.homepage %>
</p>

<p>
  <strong>Location:</strong>
  <%= @user_profile.location %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user_profile.gender %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @user_profile.birthday %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user_profile.description %>
</p>
