<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user_profile.name %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= image_tag(@user_profile.avatar.thumb_50.url.to_s) %>
</p>

<p>
  <strong>Homepage:</strong>
  <%= @user_profile.homepage %>
</p>

<p>
  <strong>Location:</strong>
  <%= @user_profile.location %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user_profile.gender %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @user_profile.birthday %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user_profile.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @user_profile.user_id %>
</p>

<%= link_to 'Edit', edit_user_profile_path(@user_profile) %> |
<%= link_to 'Back', user_profiles_path %>
