
<p>
  <strong>Name:</strong>
  <%= @user_profile.name %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= image_tag(@user_profile.avatar_url.to_s, class: "avatar big") %>
</p>

<p>
  <strong>Homepage:</strong>
  <%= @user_profile.homepage %>
</p>

<p>
  <strong>Location:</strong>
  <%= @user_profile.location %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user_profile.gender %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @user_profile.birthday %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user_profile.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @user_profile.user_id %>
</p>
