<%= simple_form_for(@project) do |f| %>
  <%= render "shared/error_messages", target: @project %>

  <div class="form-inputs">
    <%= f.input :name, label: "一个名字" %>
    <%= f.input :desc, label: "一句描述" %>
    <label>详细描述</label>
    <input id="trix-editor" value="" type="hidden" name="project[description]">
    <trix-editor input="trix-editor" class="trix-content"></trix-editor>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
