<%= render "shared/error_messages", target: @project %>



<%= render "publications/new/form", project: @project %>


<% @publications.each do |publication| %>
  <% if publication.statuses.present? %>
    <%= render publication.statuses.first %>
  <% end %>
<% end %>

<% content_for "secondary-content" do %>
  <div class="section">
    <div class="name">
      <h1><%= @project.name %></h1>
      <% if policy(@project).edit? %>
        <%= link_to "编辑", edit_project_path(@project), class: "pull-right" %>
      <% end %>
    </div>
    <div class="desc">
      <%= @project.desc %>
    </div>
    <%= image_tag @project.avatar.url.to_s %>
    <div class="description">
      <%= @project.description %>
    </div>
    <%= relation_for @project, name: :praise, submit_name: "赞" %>
    <%= relation_for @project, name: :follow, submit_name: "关注" %>
  </div>

  <div class="section">
    <h2>作者</h2>
  </div>

  <div class="section">
    <h2>最近关注</h2>
    <%= render "shared/users_list", users: @project.who_follow %>
  </div>

<% end %>
