
<div class="input-box clearfix" data-project-id="<%= @project.id  %>">
  <%= form_tag(reply_project_path(@project)) do %>
    <div>
      <%= text_area_tag(:content) %>
    </div>
    <div>
      <ul class="unstyled pull-left actions">
          <li class="ui-state-disabled">想法</li>
          <li class="ui-state-disabled">图片</li>
          <li class="ui-state-disabled">文件</li>
      </ul>
    </div>
    <div class="pull-right">
      <%= submit_tag("发布") %>
    </div>
  <% end %>

</div>

<%= render @statuses %>

<% content_for "right-content" do %>
  <h4>做者</h4>

  <h2>介绍</h2>

  <div>
    <%= @project.description %>
  </div>

  <h2>最近关注</h2>


<% end %>
