<%= render "shared/error_messages", target: @project %>

<h1><%= @project.name %></h1>

<%= render "projects/replies/reply_form", project: @project %>


<% @publications.each do |publication| %>
  <% if publication.statuses.present? %>
    <%= render publication.statuses.first %>
  <% end %>
<% end %>

<% content_for "secondary-content" do %>
  <h2>作者</h2>

  <h2>DIY介绍</h2>

  <div class="trix-content">
    <%=raw @project.description %>
  </div>

  <h2>最近关注</h2>


<% end %>
