<%= render "shared/error_messages", target: @project %>

<h1><%= @project.title %></h1>
<div class="project-reply clearfix" data-project-id="<%= @project.id  %>">
  <%= form_tag(create_reply_project_path(@project), multipart: true) do %>
    <%= hidden_field_tag(:publishable_type, "idea") %>
    <div id="input-content">
      <%= render "projects/replies/idea" %>
    </div>
    <ul class="pull-left actions">
      <%= render "projects/replies/actions" %>
    </ul>
    <div class="pull-right">
      <%= submit_tag("发布") %>
    </div>
  <% end %>
</div>

<%= render @statuses %>

<% content_for "secondary-content" do %>
  <h2>作者</h2>

  <h2>DIY介绍</h2>

  <div>
    <%= @project.description %>
  </div>

  <h2>最近关注</h2>


<% end %>
