<%= render "shared/error_messages", target: @project %>

<div class="trix-content">
  <%= sanitize @project.description %>
</div>

<%= render partial: "statuses/status", collection: @statuses %>
<%= render "publications/new/form", project: @project if current_user == @project.user%>
<%= will_paginate @statuses %>

<% content_for "secondary-content" do %>
  <div class="section">
    <div class="border-none card text-center ">
      <div class="card-block">
        <h1 class="card-title"><%= @project.name %></h1>
        <h6 class="card-subtitle text-muted"><%= @project.desc %></h6>
      </div>
      <div class="card-image-top">
        <%= avatar_tag @project, :big, link: false %>
      </div>
      <div class="card-block">
        <div class="btn-group" role="group">
          <%= render "relations/follow_project", relationable: @project %>
        </div>

        <% if policy(@project).edit? %>
          <%= link_to "编辑", edit_project_path(@project),
            class: "btn btn-secondary btn-sm" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="section">
    <h2>作者</h2>
    <%= render "users/user_item_small", user: @project.user %>
  </div>

  <div class="section">
    <h2>状态</h2>


  </div>

  <div class="section">
    <h2>最近关注</h2>
    <%= render "users/users_list_tiny", users: @project.who_follow %>
  </div>

<% end %>
