<%= render "shared/error_messages", target: @project %>

<%= render "publications/new/form", project: @project %>

<% @publications.each do |publication| %>
  <% if publication.statuses.present? %>
    <%= render publication.statuses.first %>
  <% end %>
<% end %>

<%= will_paginate @publications %>

<% content_for "secondary-content" do %>
  <div class="section">
    <div class="border-none card text-xs-center ">
      <div class="card-block">
        <h1 class="card-title"><%= @project.name %></h1>
        <h6 class="card-subtitle text-muted"><%= @project.desc %></h6>
      </div>
      <%= image_tag @project.avatar.url, class: "avatar big card-image-top"%>
      <div class="card-block">
        <div class="btn-group" role="group">
          <%= relation_for @project, action_type: :follow, submit_name: "关注",
            button_class: "btn btn-success btn-sm" %>
        </div>
      </div>
      <div class="card-block">
        <p class="card-text">
          <%= @project.description %>
        </p>
        <% if policy(@project).edit? %>
          <%= link_to "编辑", edit_project_path(@project),
            class: "btn btn-secondary btn-sm" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="section">
    <h2>作者</h2>
    <%= render "users/user_item_small", user: @project.user %>
  </div>

  <div class="section">
    <h2>最近关注</h2>
    <%= render "users/users_list_tiny", users: @project.who_follow %>
  </div>

<% end %>
