<%= render "shared/error_messages", target: @project %>

<h1><%= @project.name %></h1>

<%= render "projects/replies/reply_form", project: @project %>


<% @publications.each do |publication| %>
  <% if publication.statuses.present? %>
    <%= render publication.statuses.first %>
  <% end %>
<% end %>

<% content_for "secondary-content" do %>
  <div class="section">
    <h2>作者</h2>
  </div>

  <div class="section">
    <h2>DIY介绍</h2>
    <div class="trix-content">
      <%=raw @project.description %>
    </div>
    <%= relation_for @project, name: :praise, submit_name: "赞" %>
    <%= relation_for @project, name: :follow, submit_name: "关注" %>
  </div>

  <div class="section">
    <h2>最近关注</h2>
    <%= render "shared/users_list", users: @project.who_follow %>
  </div>

<% end %>
