<div class="col-md-4 .col-sm-10">
  <h1><%= t(".sign_in") %></h1>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :email, required: false, autofocus: true %>
      <%= f.input :password, required: false %>
      <%= render "shared/captcha" %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, t(".sign_in"), class: "btn btn-success" %>
            <%= link_to "注 册", new_user_registration_path, class: "btn btn-primary" %>
    </div>
  <% end %>

  <%= link_to "忘记密码", new_password_path(resource_name) %>
</div>
