<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "趣人DIY" %></title>
    <meta name="description" content="趣人DIY网，记录和分享DIY的过程" />

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= timeago_script_tag %>
    <% if user_signed_in? %>
      <meta name="current-user" data-id="<%= current_user.id %>" />
    <% end %>
    <meta name="controller" data-name="<%= controller.controller_name %>" />
    <%= render "layouts/statistics" %>
    <meta property="wb:webmaster" content="5097f91ced70ec18" />
  </head>

  <body>
    <%= render "layouts/nav" %>
    <%= yield :sub_nav %>

    <div class="container wrapper">
      <div id="main-content" class="row">
        <div id="preview-modal"></div>
        <% if content_for?("secondary-content") %>
        <div id="primary-content" class="col-md-7">
          <%= render "layouts/flash" %>
          <%= yield %>
        </div>
        <div id="secondary-content" class="col-md-3">
          <%= yield("secondary-content") %>
        </div>
        <% else %>
          <%= render "layouts/flash" %>
          <%= yield %>
        <% end %>
      </div>
    </div>

    <%= render "layouts/footer" %>
  </body>
</html>
