<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "QRDIY" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= render "layouts/statistics" %>
  </head>

  <body class="light">
    <%= render "layouts/nav" %>
    <%= yield :sub_nav %>

    <div class="container">
      <%= render "layouts/flash" %>
      <div id="main-content" class="row">
        <% if content_for?("right-content") %>
          <div id="left-content" class="col-md-7">
            <%= yield %>
          </div>

          <div id="right-content" class="col-md-4">
            <%= yield("right-content") %>
          </div>
        <% else %>
          <%= yield %>
        <% end %>
      </div>
    </div>

    <%= render "layouts/footer" %>
  </body>
</html>
